<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas de Seguridad</title>
    <link rel="stylesheet" href="/estatico/css/estil.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lora:ital@0;1&family=Poppins&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">	


</head>
<body>
    <header>
        <div class="contenedor">
            <p> <img src="/estatico/img/Imagen1.png"> Picture Security</p> 
            <nav>
              <ul>
                <li> <a class="text" href="/usuarios/inicio">Inicio</a></li>
                <li> <a class="text" href="/usuarios/blog">Blog</a> </li>
                <li> <a class="text" href="/usuarios/contactanos">Contactanos</a> </li>
                <li> <a class="text" href="/usuarios/nosotros">Nosotros</a></li>
                <li>  <a class="text"  href="/usuarios/Registrarse">  Registrarse</a></li>
    
      
              </ul>
            </nav>
         
        </div>
      </header>

      <section id="Blog" >
        <div class="bl">
          <h1>Blog</h1>
        </div>
      </section>

        <section id="Starry">
          <div id=colum>
            <div class="grid">
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://st2.depositphotos.com/1000291/5183/i/950/depositphotos_51837501-stock-photo-security-video-surveillance.jpg" alt="Snowy Mountains">
                  <div class="card__content">
                    <h1 class="card__header">Videovigilancia</h1>
                    <p class="card__text">Es un sistema de videovigilancia conformado por cámaras y 
                                          un software de grabación. La principal finalidad que tiene este,
                                          es la de poder dar imagen clara de las distintas zonas que se graben.</p>
                    <button class="card__btn"> <a class="text" href="https://www.iis.unam.mx/blog/la-videovigilancia-permite-recolectar-informacion-del-comportamiento-de-las-personas-para-su-posible-influencia/"> Explore </a> <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://www.vistazo.com/binrepository/275x183/0c0/0d0/none/12727/UBTU/negocios-robos_412092_20220428175544.jpg" alt="Desert">
                  <div class="card__content">
                    <h1 class="card__header">¿Cuales son los negocios que mas sufren robos?</h1>
                    <p class="card__text">Sin duda, todos los negocios están expuestos a los robos y 
                                          demás eventos delictivos.Algunos negocios tienen un mayor riesgo 
                                          debido al tipo de productos                                                 

                    </p>
                    <button class="card__btn"> <a class="text" href="https://seguricasa.net/blog/cuales-son-los-negocios-que-sufren-mas-robos/">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://fece.org/wp-content/uploads/2022/06/R-768x512.jpg" alt="Canyons">
                  <div class="card__content">
                    <h1 class="card__header">¿Como saber si me negocio esta protejido?</h1>
                    <p class="card__text">Los negocios de todos los tamaños deben preocuparse. La pérdida de productos no solo provoca el descontento de los clientes, sino que los pone en riesgo. </p>
                    <button class="card__btn"> <a class="text" href="https://seguricasa.net/blog/como-saber-si-mi-negocio-esta-protegido/">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="Starry">
          <div id=colum>
            <div class="grid">
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://cdn.shopify.com/s/files/1/0557/9423/7599/t/6/assets/camara-oculta-detector-humo.png?v=1620269462" alt="Snowy Mountains">
                  <div class="card__content">
                    <h1 class="card__header">Pros y cobtras de las camras ocultas</h1>
                    <p class="card__text">¿Deseas saber qué ocurre en su vivienda o negocio cuándo no estás? ¿Deseas protegerte a tí mismo, a tus seres queridos y propiedades de manera discreta? </p>
                    <button class="card__btn"> <a class="text" href="https://argos.red/camaras-ocultas-en-viviendas/">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://elmudancero.com/wp-content/uploads/2019/10/seguridad-hogar-mudanza.jpg" alt="Desert">
                  <div class="card__content">
                    <h1 class="card__header">Maneras de proteger tu nuevo hogar</h1>
                    <p class="card__text">Comprar y mudarse a una nueva casa es un acto emocionante tanto para ti como para tu familia. Comprar una vivienda es una oportunidad de inversión.</p>
                    <button class="card__btn"> <a class="text" href="https://elmudancero.com/7-maneras-de-proteger-tu-nuevo-hogar-tras-la-mudanza">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://cdn2.hubspot.net/hub/4650993/avast-blog/Cover_images/webcam_hack.jpg?width=900" alt="Canyons">
                  <div class="card__content">
                    <h1 class="card__header">Proteger tu cámara web de los hackers</h1>
                    <p class="card__text">Quizás no haya mayor pesadilla que la invasión de la casa. Tu hogar es donde te sientes seguro y cuidas a tus seres queridos.</p>
                    <button class="card__btn"> <a class="text" href="https://blog.avast.com/es/preventing-a-webcam-hack">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </section>

        <section id="Starry">
          <div id=colum>
            <div class="grid">
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://seguricasa.net/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2022/02/indice-de-robo-a-casa-2021-1024x683.jpg.webp" alt="Snowy Mountains">
                  <div class="card__content">
                    <h1 class="card__header">Indice de robo a casa habitación</h1>
                    <p class="card__text">Lamentablemente, en estos últimos años hemos sido testigos de un 
                                          incremento de la delincuencia en diferentes actividades ilícitas, 
                                          pero uno de los que nos causa más temor es el robo
                                          a casa habitación</p>
                    <button class="card__btn"> <a class="text" href="https://seguricasa.net/blog/indices-de-robo-a-casa-habitacion-en-2021/">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://blog.prosegur.es/wp-content/uploads/2020/04/cropped-nuevas-tecnologias-camaras-seguridad.jpg" alt="Desert">
                  <div class="card__content">
                    <h1 class="card__header"> Nuevas tecnologías en las cámaras de seguridad?</h1>
                    <p class="card__text">La implementación de las nuevas tecnologías en todos los sectores, está ligada con la incorporación de nuevas funciones en las Movistar Prosegur Alarmas,</p>
                    <button class="card__btn"> <a class="text" href="https://blog.prosegur.es/nuevas-tecnologias-camaras-seguridad/">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
              <div class="grid__item">
                <div class="card2"><img class="card__img2" src="https://revistaseguridad360.com/wp-content/uploads/2022/01/camaras-videovigilancia.jpg" alt="Canyons">
                  <div class="card__content">
                    <h1 class="card__header">Tendencias en cámaras de seguridad</h1>
                    <p class="card__text">A medida que el mundo emerge de una pandemia global sin precedentes, las empresas de todas las industrias están reevaluando cada aspecto de su negocio.</p>
                    <button class="card__btn"> <a class="text" href="https://revistaseguridad360.com/noticias/camaras-videovigilancia/">Explore</a>  <span>&rarr;</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </section>



















      <div class="footer-wrapper">
    
                
        <!-- Footer Bottom Container -->
            <div class="footer-bottom"><!-- Container -->
<div class="container">
<div class="row"><!-- Footer Menu -->
<div class="col-md-12 col-sm-12 columns">
<div class="menu-footer">
<ul class="list-inline">
</ul>
</div>
</div>
<!-- /Footer Menu --> <!-- Copyright -->
<div class="col-md-12 col-sm-12 columns">
<div class="copyright">

</div>
</div>
<!-- /Copyright --> <!-- Footer Social -->
<div class="col-md-12 col-sm-12 columns">
<div class="social-footer">
<ul class="list-inline social-list">

</ul>
</div>
</div>
<!-- /Footer Social --></div>
</div>
<!-- /Container --></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.css" rel="stylesheet">
<div id="myModal1" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

</div>
</div>
</div>
<div class="whatsapp"><a href="https://api.whatsapp.com/send?phone=527223797945&amp;text=Hola,  Me interesa su servicio." onclick="gtag('event', 'mensaje', {'event_category': 'whatsapp','event_label': 'boton-flotante'});" target="new" rel="nofollow" title="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></div>
<style>.whatsapp a {
   display: block;
  position: fixed;
left: 1280px;
bottom: 30px;
background: #6C3;
color: #fff;
width: 60px;
height: 60px;
z-index: 100;
text-align: center;
line-height: 60px;
border-radius: 100%;
font-size: 30px;
font-weight: 400; z-index:1000;}.cotize a {
display: block;
position: fixed;
left: -40px;
bottom: 260px;
background: #6C3;
color: #fff;
width: 120px;
height: 40px;
text-transform: uppercase;
font-size: 16px;
z-index: 10;
text-align: center;
line-height: 40px;
background: #d40c0c;
-ms-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
cursor: pointer; z-index:1000;}</style>

<div class="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=525568898369&amp;text=Hola,  Me interesa su servicio." 
    onclick="gtag('event', 'mensaje', {'event_category': 'whatsapp','event_label': 'boton-flotante'});" 
    target="new" rel="nofollow" title="whatsapp">
        <i class="fa fa-whatsapp" aria-hidden="true">
        </i>
    </a>
</div>

      <section id="about">
        <div class="contenedor">
  <!-- Right Menu -->
  <div class="fawaav">
    <ul class="top-menu">
      <li><a href="https://www.facebook.com/Picture-Security-105793655502894" title="Facebook" style="color:rgb(255, 255, 255);"><span class="fa fa-facebook">  </span>Facebook</a></li>          
      <li><a style="color:rgb(255, 255, 255);" target="_blank" rel="nofollow noopener noreferrer" href="https://api.whatsapp.com/send?phone=525568898369&amp;text=Hola,  Me interesa su servicio."  onclick="ga('send', 'event', 'Whatsapp', 'mensaje', 'WA')" title="whatsapp" ><i class="fa fa-whatsapp" ></i> <font face="Poppins">556-889-8369</font></a></li>
      <li ><a style="color:rgb(255, 255, 255);" href="aviso_privacidad.php" rel="nofollow" ><i class="fa fa-lock"></i>Aviso de Privacidad</a></li>
    </ul>

  </div>  
          </div>
      </section>  

</body>
</html>