<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistemas de Seguridad</title>
    <link rel="stylesheet" href="/estatico/css/estil.css">
    

 <!-- /Font-Family -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lora:ital@0;1&family=Poppins&display=swap" rel="stylesheet">


</head>
<body>
  

  <header>
    <div class="contenedor">
        <p> <img src="/estatico/img/Imagen1.png"> Picture Security</p> 
        <nav>
          <ul>
            <li> <a class="text" href="/usuarios/inicio">Inicio</a></li>
            <li> <a class="text" href="/usuarios/blog">Blog</a> </li>
            <li> <a class="text" href="/usuarios/contactanos">Contactanos</a> </li>
            <li> <a class="text" href="/usuarios/nosotros">Nosotros</a></li>
            <li>  <a class="text"  href="/usuarios/Registrarse">  Registrarse</a></li>

  <a class="shameless-plug" href="https://scottyzen.com/?cp" target="_blank"></a>
          </ul>
        </nav>
     
    </div>
  </header>


  <section id="encabezado">
    <div class="contenedor">
        <h1>Teniendo <br> seguridad, <br> nadie te <br>  detendrá</h1>
        <p>
        </p>       
      </div>
  </section>

  <section id="SH" >
    <div class="Sec">
      <h1>P-Sec</h1>
      <h3>Es un sistema de seguridad, el cual te permitira tener un control de lo que sucede en su hogar. 
        Todo esto controlado desde una aplicación móvil en donde podremos estar observando las cámaras en 
        tiempo real. </h3>

        <img src="/estatico/seguridad-en-casa.jpg" alt="" width="320" height="300" HSPACE="210" VSPACE="10">
        <img  src="/estatico/seguridad-hogar.jpg" alt="" width="320" height="300"HSPACE="120" VSPACE="10">

    </div>
  </section>

  <section id="dudas">
    <div class="contenedor">
    <h6> ¿Tienes alguna duda o necesitas informes?   </h6>
    <button class="contactenos"  type="submit"><a class="contactenos" href="/usuarios/contactanos">¡Contactenos!</a></button>   
  </div>
  </section>

  <section id="SH">
    <div class="Sec"> 

      <h1>Entornos de desarrollo utilizados</h1>
      <img src="/estatico/Visual studio.png" alt="" width="180" height="100" HSPACE="290" VSPACE="2">
      <img  src="/estatico/Android.png" alt="" width="180" height="100"HSPACE="40" VSPACE="2">

      <h3>Para el desarrollo móvil, se utilizaron estas plataformas de desarrollo, 
        la cuales permitieron realizar el diseño de la pantalla, conexión a una base
         de datos, guardar información y obtener una aplicación móvil. Cada entorno 
         cumple con una función. en donde gracias a las herramientas que Visual Studio ofrece, 
         se pudo desarrollar al menos un 80% de la aplicación.</h3>
    </div>
  </section>
  
    <section class="dark">
    <div ><a class="text" href="/usuarios/blog"><h2>Blog</h2></a>  </div>
          <div id="dark_division">
            <div class="cards">
              <div class="card">
                <h3 class="card-title">Videovigilancia</h3>
                <img src="https://st2.depositphotos.com/1000291/5183/i/950/depositphotos_51837501-stock-photo-security-video-surveillance.jpg" alt="">
                <p1 class="card-desc">Es un sistema de videovigilancia conformado por cámaras y un software de grabación. La principal finalidad que tiene este, es la de poder dar imagen clara de las distintas zonas que se graben. De esta forma se podrá tener el control sobre las zonas de un hogar, trabajo o cualquier otra región grabada. En la actualidad este es un sistema que podemos ver casi cualquier lugar a donde vayamos. Son utilizados para poder evitar robos, tener sistemas de seguridad, controlar el trabajo de máquinas e incluso empleados y más. Cada vez será algo más habitual, tan normal como que podemos encontrarlos en las calles para revisión de accidentes</p1>
              </div>
              <div class="card">
                <h3 class="card-title">¿Cuáles son los negocios que sufren más robos?</h3>
                <img src="https://www.vistazo.com/binrepository/275x183/0c0/0d0/none/12727/UBTU/negocios-robos_412092_20220428175544.jpg" alt="">
                <p1 class="card-desc">Sin duda, todos los negocios están expuestos a los robos, hurtos, asaltos y demás eventos delictivos. Sin embargo, algunos negocios tienen un mayor riesgo debido al tipo de productos que se venden, ya que los presuntos ladrones ven atractiva la ganancia que pueden obtener al vender la mercancía y la facilidad que puede resultarles cometer el delito.</p1>
              </div>
              <div class="card">
                <h3 class="card-title">¿Cómo saber si mi negocio está protegido?</h3>
                <img src="https://fece.org/wp-content/uploads/2022/06/R-768x512.jpg" alt="">
                <p1 class="card-desc">Los negocios de todos los tamaños deben preocuparse por la seguridad de su personal y la protección de las mercancías, materias primas y mobiliario en el que han invertido. La pérdida de productos no solo provoca el descontento de los clientes, sino que puede poner en riesgo las finanzas de los emprendedores.</p1>
              </div>
            </div>
          </div>
        </section>


        <section>
          <div id="columnas">
            <div class="mel">
              <img src="/estatico/img/Imagen1.png" alt="" width="150" height="150" HSPACE="170" VSPACE="0.1">
              <p>Para nosotros será un gusto atenderlo en la República Mexicana, 
                donde nuestros colaboradores resolverán sus inquietudes.
                También puede contactarse con nosotros vía email en la siguiente dirección 
                electrónica contactenos@picturesecurity.gmail.com 
                o llenando el formulario abajo propuesto con su información la cual será 
                de carácter confidencial para Picture Security.</p>
            </div>
            
              <div class="isa" >
                <form action="">
                  <fieldset>
                    <h1>Formulario de contacto</h1>

                    <p><span class="wpcf7-form-control-wrap" data-name="your-name">
                      <input type="text" name="name" value="" size="40" id="NomB"  class="NomB" aria-required="true" aria-invalid="false" placeholder="Nombre" autocomplete="fill" tabindex="-1"></span> </p>
                    <p><span class="wpcf7-form-control-wrap" data-name="tel-633">
                      <input type="tel" name="tel-633" value="" size="40" id="TELEF"  class="TELEF" aria-required="true" aria-invalid="false" placeholder="Teléfono"></span></p>
                    <p><span class="wpcf7-form-control-wrap" data-name="your-email">
                      <input type="email" name="your-email" value="" size="40" id="CEco"  class="CEco" aria-required="true" aria-invalid="false" placeholder="Correo electrónico"></span> </p>
                    <p><span class="wpcf7-form-control-wrap" data-name="your-message"><textarea name="your-message" cols="40" rows="10" class="MENS" aria-invalid="false" placeholder="Mensaje"></textarea></span> </p>
                    <p><input type="submit" value="Enviar" class="ENV"> <span class="wpcf7-spinner"></span></p><p></p>
                  </fieldset>
                </form>
              </div>
          </div>      
        </section>
                 

        <!--WHATSAPP-->

            <!-- /Main Container -->      
    
            <!-- Footer Container -->
            <div class="footer-wrapper">
    
                
                <!-- Footer Bottom Container -->
                    <div class="footer-bottom"><!-- Container -->
    <div class="container">
    <div class="row"><!-- Footer Menu -->
    <div class="col-md-12 col-sm-12 columns">
    <div class="menu-footer">
    <ul class="list-inline">
    </ul>
    </div>
    </div>
    <!-- /Footer Menu --> <!-- Copyright -->
    <div class="col-md-12 col-sm-12 columns">
    <div class="copyright">
 
    </div>
    </div>
    <!-- /Copyright --> <!-- Footer Social -->
    <div class="col-md-12 col-sm-12 columns">
    <div class="social-footer">
    <ul class="list-inline social-list">
    
    </ul>
    </div>
    </div>
    <!-- /Footer Social --></div>
    </div>
    <!-- /Container --></div>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.css" rel="stylesheet">
    <div id="myModal1" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
   
    </div>
    </div>
    </div>
    <div class="whatsapp"><a href="https://api.whatsapp.com/send?phone=527223797945&amp;text=Hola,  Me interesa su servicio." onclick="gtag('event', 'mensaje', {'event_category': 'whatsapp','event_label': 'boton-flotante'});" target="new" rel="nofollow" title="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></div>
    <style>.whatsapp a {
           display: block;
          position: fixed;
        left: 1280px;
        bottom: 30px;
        background: #6C3;
        color: #fff;
        width: 60px;
        height: 60px;
        z-index: 100;
        text-align: center;
        line-height: 60px;
        border-radius: 100%;
        font-size: 30px;
        font-weight: 400; z-index:1000;}.cotize a {
        display: block;
        position: fixed;
        left: -40px;
        bottom: 260px;
        background: #6C3;
        color: #fff;
        width: 120px;
        height: 40px;
        text-transform: uppercase;
        font-size: 16px;
        z-index: 10;
        text-align: center;
        line-height: 40px;
        background: #d40c0c;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        cursor: pointer; z-index:1000;}</style>
    
        <div class="whatsapp">
            <a href="https://api.whatsapp.com/send?phone=525568898369&amp;text=Hola,  Me interesa su servicio." 
            onclick="gtag('event', 'mensaje', {'event_category': 'whatsapp','event_label': 'boton-flotante'});" 
            target="new" rel="nofollow" title="whatsapp">
                <i class="fa fa-whatsapp" aria-hidden="true">
                </i>
            </a>
        </div>
      


        <section id="about">
          <div class="contenedor">
    <!-- Right Menu -->
    <div class="fawaav">
      <ul class="top-menu">
        <li><a href="https://www.facebook.com/Picture-Security-105793655502894" title="Facebook" style="color:rgb(255, 255, 255);"><span class="fa fa-facebook">  </span>Facebook</a></li>          
        <li><a style="color:rgb(255, 255, 255);" target="_blank" rel="nofollow noopener noreferrer" href="https://api.whatsapp.com/send?phone=525568898369&amp;text=Hola,  Me interesa su servicio."  onclick="ga('send', 'event', 'Whatsapp', 'mensaje', 'WA')" title="whatsapp" ><i class="fa fa-whatsapp" ></i> <font face="Poppins">556-889-8369</font></a></li>
        <li ><a style="color:rgb(255, 255, 255);" href="aviso_privacidad.php" rel="nofollow" ><i class="fa fa-lock"></i>Aviso de Privacidad</a></li>
      </ul>

    </div>  
            </div>
        </section>  
    
</body>
</html>