<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas de Seguridad</title>
    <link rel="stylesheet" href="/estatico/css/estil.css">


     <!-- /Font-Family -->
<link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lora:ital@0;1&family=Poppins&display=swap" rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>


  <header>
    <div class="contenedor">
        <p> <img src="/estatico/img/Imagen1.png"> Picture Security</p> 
        
        <nav>
          <ul>
            <li> <a class="text" href="/usuarios/inicio">Inicio</a></li>
            <li> <a class="text" href="/usuarios/blog">Blog</a> </li>
            <li> <a class="text" href="/usuarios/contactanos">Contactanos</a> </li>
            <li> <a class="text" href="/usuarios/nosotros">Nosotros</a></li>
            <li>  <a class="text"  href="/usuarios/Registrarse">  Registrarse</a></li>

  <a class="shameless-plug" href="https://scottyzen.com/?cp" target="_blank"></a>
          </ul>
        </nav>
     
    </div>
  </header>


      <!--Falta  el address
          El boton de guardar   -->
          <div class="registration-form">
            <form action="/usuarios/Registrarse" method="POST">
                  <div class="form-icon">
                      <span><i class="icon icon-user"></i></span>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control item" name="name" id="input" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control item" name="address" id="input" placeholder="Domicilio">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control item" name="email" id="input" placeholder="Correo">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control item" name="number" id="input" placeholder="Numero">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control item" name="password" id="input" placeholder="Contraseña">
                  </div>
                  <div class="card.footer">
                      <button class="btn btn-block create-account" type="submit">Guardar usuario</button>
                      <!-- la class sirve para poner un href como un boton -->
                  </div>
              </form>
              <div class="social-media">
                  <h5>Sign up with social media</h5>
                  <div class="social-icons">
                      <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                      <a href="#"><i class="icon-social-google" title="Google"></i></a>
                      <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
                  </div>
              </div>
          </div>
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
          <script src="assets/js/script.js"></script>


</body>
</html>



